<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

<script src="client.js"></script>
</head>
<body>
    <div class="container">
        <h4 style="text-align: center;">All the available deals</h4>
        <div class="">
        {{#each allDeals}}
        <ul>
            <li style="font-weight:bolder;"> {{this.name}}</li>
            <p>Price: {{price}}</p>
            <p>Quantity: {{qty}}</p>

        </ul>
        {{/each}}
        </div>
        <a href="/seeDeals">Back</a>

    </div>
</body>
</html>