<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avo shopper</title>
</head>
<body>
    <div class="container">
<div>
            <form action="createDeal" method="post">

        <div>
                <div class="errorMessage">{{messages.info}}</div>

            <h2>Add avo deals for a shop</h3>
            <label for="">Select a shop</label>
            <select name="shop" id=""  >
                <option value=""></option>
             
            </select>
            <h4>Create a new deal with price and quantity</h4>
            <label for="">Price </label>
            <input type="text" name="price" value='{{price}}' id="">
            <label for="">Qty</label>
            <input type="text" name="qty" value='{{qty}}' id="">
            <button type="submit">Save</button>
            </form>
        </div>
    </div>
    </div>
    
</body>
</html>