<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="style.css">

<script src="client.js"></script>
</head>

<body>
    <div class="container">
        <div class="listshops">
            <div>
                <form action="/newShop" method="get">
                    <button type="submit">Add new shop</button>
                </form>
            </div>
            <div>{{messages.error}}</div>
            <div class="">
                <h4>All the available Shops</h4>
                {{#each listshops}}
                <ul class="allshops">
                    <li> <a href="/dealsForShop/{{id}}">{{this.name}}</a> </li>
                </ul>
                {{/each}}
            </div>

        </div>
        
            <div>
            <a href="/">Home</a>

            </div>
    </div>

</body>

</html>