<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div>
            <form action="/newShop" method="get">
            <button type="submit">Add new shop</button>
            </form>
        </div>
        <div>
<h4>All the available Shops</h4>
{{#each listshops}}
<ul class="allshops">
    <li> <a href="/dealsForShop/{{this.name}}">{{this.name}}</a> </li>
</ul>
{{/each}}
        </div>
    </div>
</body>
</html>
